<div class="row align-items-center">
    <div class="col-xl-12 mx-auto">
        <div class="card">
            <div class="card-body">
                <form action="" class="needs-validation form-horizontal" enctype="multipart/form-data" novalidate  method="GET" id="filters">
                    <div class="row">
                        <div class="col-md-4">  
                            <div class="mb-3">
                                <label for="floatingnameInput">PHC :</label>
                                <select  class="form-select select2"  aria-label="Floating label select example" 
                                placeholder="Choose Phc" id="phc" name='phc' >      
                                    <option selected value="">Choose Phc</option>
                                    {% for phc in phc_obj %}
                                        <option value="{{phc.id}}" {% if phc.id == phc_ids %}selected{% endif %}>{{phc.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>   
                        </div>
                        <div class="col-md-4">  
                            <div class="mb-3">
                                <label for="floatingnameInput">Sub Center :</label>
                                <select  class="form-select select2"  aria-label="Floating label select example" 
                                placeholder="Choose Sub Center" id="sub_center" name='sub_center' >      
                                    <option selected value="">Choose Sub Center</option>
                                    {% for sub_center in sub_center_obj %}
                                    <option value="{{sub_center.id}}" {% if sub_center.id == sub_center_ids %}selected{% endif %}>{{sub_center.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>   
                        </div>
                        <div class="col-md-4">  
                            <div class="mb-3">
                                <label for="floatingnameInput">Village :</label>
                                <select  class="form-select select2"  aria-label="Floating label select example" 
                                placeholder="Choose Village" id="village" name='village' >  
                                <option selected value="">Choose Village</option>
                                {% for village in village_obj %}
                                <option value="{{village.id}}" {% if village.id == village_ids %}selected{% endif %}>{{village.name}}</option>
                                {% endfor %}
                                </select>
                            </div>   
                        </div>
                        {% if health_worker_in_patient %}
                        <div class="col-md-4">  
                            <div class="mb-3">
                                <label for="floatingnameInput">Health Worker :</label>
                                <select  class="form-select select2"  aria-label="Floating label select example" 
                                placeholder="Choose Health Worker" id="health_worker" name='health_worker' >  
                                <option selected value="">Choose Health Worker</option>
                                {% for health_worker in health_worker_obj %}
                                <option value="{{health_worker.user.id}}" {% if health_worker.user.id == health_worker_ids %}selected{% endif %}>{{health_worker.user.first_name}}</option>
                                {% endfor %}
                                </select>
                            </div>   
                        </div>
                        {% endif %}
                        {% if medicine_list %}
                        <div class="col-md-4">  
                            <div class="mb-3">
                                <label for="floatingnameInput">Medicine :</label>
                                <select  class="form-select select2"  aria-label="Floating label select example" 
                                placeholder="Choose Health Worker" id="medicine" name='medicine' >  
                                <option selected value="">Choose Medicine</option>
                                {% for medicine in medicine_obj %}
                                <option value="{{medicine.id}}" {% if medicine.id == medicine_ids %}selected{% endif %}>{{medicine.name}}</option>
                                {% endfor %}
                                </select>
                            </div>   
                        </div>
                        {% endif %}
                        <div class="col-md-4">  
                            <div class="mb-3">
                                <label for="floatingnameInput">Start Date:</label>
                                <input type="date" class="form-control" name='start_filter'  value="{{start_filter}}" id="start_filter" onchange='onselected_start_month(this)'>
                                <div class="invalid-feedback">
                                    Please provide a valid both date field.
                                </div>
                            </div>   
                        </div>
                        <div class="col-md-4">  
                            <div class="mb-3">
                                <label for="floatingnameInput">End Date:</label>
                                <input type="date" class="form-control" name='end_filter'  value="{{end_filter}}" id="end_filter" onchange='onselected_start_month(this)' >
                                <div class="invalid-feedback">
                                    Please provide a valid both date field and Start date should be greater than or equal to end date.
                                </div>
                            </div>   
                        </div>
                        <div class="col-md-4">  
                            <div class="mb-3">
                                <label for="floatingnameInput">Patient (Name or Code):</label>
                                <input type="text" id="patient_name" name="patient_name" class='form-control' value='{{patient_name}}' placeholder='Search Patient (Name or Code)...'>
                                <div class="invalid-feedback">
                                    Please provide a valid Patient (Name or Code).
                                </div>
                            </div>   
                        </div>
                    </div>
                    <div class="row justify-content-end my-3">
                        <div class="col-auto">
                            <button type="submit" class="btn btn-success waves-effect btn-xs float-right">Filter</button>
                        </div>
                        <div class="col-auto">
                            <button type="reset" id="filter_reset"  class="form-control btn btn-warning waves-effect btn-xs float-right" value="True">Reset Filters</button>
                        </div>
                    </div>
                </form>
                <div class="d-flex">
                   
                    <p><b>Note:[</b><b>Phc :</b>{{get_phc_name}},<b>Sub Center :</b>{{get_sbc_name}}, <b>Village :</b> {{get_village_name}},{% if get_medicine_name %}<b>Medicine :</b>{{get_medicine_name}},{% endif %}{% if get_health_worker_name %}
                        <b>Health Worker :</b>{{get_health_worker_name.first_name}},{% endif %}<b>Start month & year :</b> {{s_date}}, <b>End month & year :</b> {{e_date}}, {% if patient_name %}<b>Patient (Name or Code): </b>{{patient_name}}{% endif %}<b>]</b></p>
                </div>
            </div>
        </div>
    </div>
</div>
