{% load static %} {% block sidebar %}
<!-- ========== Left Sidebar Start ========== -->
<style>
 .vertical-collpsed .vertical-menu #sidebar-menu>ul>li{
  white-space: normal;
 }
</style> 
<div class="vertical-menu">
  <div data-simplebar class="h-100">
    <!--- Sidemenu -->
    <div id="sidebar-menu">
      <!-- Left Menu Start -->
      <ul class="metismenu list-unstyled" id="side-menu">
        <li class="menu-title" key="t-menu">Menu</li>
        <li>
          <a href="/dashboard/" class="waves-effect">
            <i class="bx bxs-dashboard"></i>
            <span key="t-chat">Dashboard</span>
          </a>
        </li>
        <li>
          <a href="/patient-profile/list/" class="waves-effect">
            <i class="bx bx-id-card"></i>
            <span key="t-chat">Patient Profile</span>
          </a>
          <a href="/treatment-details/list/" class="waves-effect">
            <i class="bx bx-hotel"></i>
            <span key="t-chat">Treatment Details</span>
          </a>
          {% comment %} <a href="/diagnosis-details/list/" class="waves-effect">
            <i class="bx bx-pulse"></i>
            <span key="t-chat">Diagnosis Details</span>
          </a> {% endcomment %}
          <a href="/health/list/" class="waves-effect">
            <i class="bx bx-clinic"></i>
            <span key="t-chat">Health Details</span>
          </a>
          <a href="/verified-prescription-report/" class="waves-effect">
            <i class="bx bx-clinic"></i>
            <span key="t-chat">Prescription Details</span>
          </a>
        </li>
        <li class="">
          <a href="javascript: void(0);" class="has-arrow waves-effect " aria-expanded="true">
            <i class="bx bx-cog"></i>
            <span key="t-ui-elements">Configuration</span>
          </a>
          <ul class="sub-menu" aria-expanded="false">
            <li class='{% if heading == "userprofile" %}mm-active{% endif %}' >
              <a href="/list/userprofile/" class="waves-effect ">
                <i class=""></i>
                <span key="t-dashboards ">User Profile</span>
              </a>
            </li>
            <li class='{% if heading == "PHC" %}mm-active{% endif %}'>
              <a href="/list/phc/" class="waves-effect ">
                <i class=""></i>
                <span key="t-dashboards ">PHC</span>
              </a>
            </li>
            <li class='{% if heading == "Sub Center" %}mm-active{% endif %}'>
              <a href="/list/subcenter/" class="waves-effect ">
                <i class=""></i>
                <span key="t-dashboards ">Sub Center</span>
              </a>
            </li>
            <li class='{% if heading == "Village" %}mm-active{% endif %}'>
              <a href="/list/village/" class="waves-effect ">
                <i class=""></i>
                <span key="t-dashboards ">Village</span>
              </a>
            </li>
            <li class='{% if heading == "category" %}mm-active{% endif %}'>
              <a href="/list/category/" class="waves-effect ">
                <i class=""></i>
                <span key="t-dashboards ">Medicine Category</span>
              </a>
            </li>
            <li class='{% if heading == "medicines" %}mm-active{% endif %}'>
              <a href="/list/medicines/" class="waves-effect ">
                <i class=""></i>
                <span key="t-dashboards ">Medicines</span>
              </a>
            </li>
            {% comment %} <li class='{% if heading == "diagnosis" %}mm-active{% endif %}'>
              <a href="/list/masterlookup/" class="waves-effect ">
                <i class=""></i>
                <span key="t-dashboards ">Diagnosis</span>
              </a>
            </li>  {% endcomment %}
          </ul>
        </li>
       <li>
          <a href="javascript: void(0);" class="has-arrow waves-effect">
              <i class="bx bx-band-aid"></i>
              <span key="t-tasks">Inventory</span>
          </a>
          <ul class="sub-menu mm-collapse" aria-expanded="false">
            <li class=""><a href="/medicine/list/" key="t-task-list">Medicine Stock</a></li>
            <li class=""><a href="/village-wise-drugs/list/" key="t-task-list">Village wise Drugs Dispensation Stock</a></li>
          </ul>
        </li> 
        <li>
          <a href="javascript: void(0);" class="has-arrow waves-effect">
            <i class="bx bx-tone"></i>
            <span key="t-tasks">Reports</span>
          </a>
          <ul class="sub-menu mm-collapse" aria-expanded="false">
            {% comment %}<li class=""><a href="/drug-dispensation/report/" key="t-task-list">Drugs Prescription</a></li>{% endcomment %}
            <li class=""><a href="/utilisation-of-services/report/" key="t-task-list">Utilisation of services at OBLF clinics</a></li>
            <li class=""><a href="/home-visit/report/" key="t-task-list">Health workers home visit</a></li>
            <li class=""><a href="/patient-registration/report/" key="t-task-list">Pateint report</a></li>
            <li class=""><a href="/prevelance-of-ncd/report/" key="t-task-list">Prevelance of NCD</a></li>
            <li class=""><a href="/clinic-level-statistics/report/" key="t-task-list">Clinic level statistics</a></li>
            <li class=""><a href="/patient-adherence/report/" key="t-task-list">Patients adherence report</a></li>
            <li class=""><a href="/substance-abuse/report/" key="t-task-list">Substance Abuse report</a></li>
            <li class=""><a href="/diagnosis-ncd-count/report/" key="t-task-list">NCD combination to prepare the report</a></li>
            <li class=""><a href="/village-profile/report/" key="t-task-list">Village Profile report</a></li>
          </ul>
        </li>
        <li>
          <a href="/deactivate-patient-detail/" class="waves-effect">
            <i class="bx bxs-dashboard"></i>
            <span key="t-chat">Deactivted Patient list</span>
          </a>
        </li>
      </ul>                
    </div>
    <!-- Sidebar -->
  </div>
</div>
<!-- Left Sidebar End -->
{% endblock %}
