{% extends 'base.html' %}
{% load static %}
{% block contents %}

{% block extra_css %}
<!-- Sweet Alert-->
<link href="{% static 'libs/sweetalert2/dist/sweetalert2.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form action="" method="get" class="mb-3">
                    <div class="row justify-content-start">
                        <div class="col-lg-3 mt-3">
                            <input type="search" name="search" class='form-control' value='{{search}}' placeholder='Search...'>
                        </div>
                        <div class="col-auto mt-3 ">
                            <button type="submit" class="form-control btn btn-success waves-effect btn-xs float-right">Search</button>
                        </div>  
                    </div>
                </form>
                <div class="d-flex mb-3 justify-content-end gap-2">
                    <button type="reset" onclick="location.href='/medicine/list/'" class="btn btn-secondary waves-effect">
                        Cancel
                    </button>
                    <button type="button" class="btn btn-primary waves-effect waves-light" onclick="Confirm('Submit')" id="myForm">Submit</button>
                </div>
                <form method='POST'  id="sumbit-form"  enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                    <div class="table-rep-plugin">
                        <table id="datatable-buttons" class="table  table-bordered dt-responsive w-100 ">
                            <thead>
                                <tr>
                                    <th>Drug Name</th>
                                    <th>Opening Stock</th>
                                    <th>Add quantity</th>
                                    <th>Unit price Rs.</th>
                                    <th>Date</th>
                                    <th>Closing Stock</th>                                   
                                </tr>
                            </thead>
                            <tbody>
                                {% for m in medicine %}
                                <tr>
                                    <td>{{m.name}}</td>
                                    
                                    <input type="hidden" id="custId" name="medicine" value="{{m.id}}" >
                                    <td>
                                        <input type="number" class="form-control o_stk" name='{{m.id}}_opening_stock' value="{{m.get_no_of_units}}" id="opening_stock" readonly>
                                    </td>
                                    <td>
                                        <input type="number" class="form-control add_units" name='{{m.id}}_no_of_units' id="no_of_units" min="1" oninput="validity.valid||(value='');">
                                    </td>
                                    <td>
                                        <input type="number" class="form-control" name='{{m.id}}_unit_price' id="{{m.id}}_unit_price" min="1" oninput="validity.valid||(value='');">
                                    </td>
                                    <td>
                                        <input type="date" class="form-control previous_data" name='{{m.id}}_date_of_creation' value="{{current_data}}" max="{{current_data}}">
                                    </td>
                                    <td>
                                        <input type="number" class="form-control c_stk" name='{{m.id}}_closing_stock' readonly>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="d-flex mb-3 justify-content-end gap-2">
                            <button type="reset" onclick="location.href='/medicine/list/'" class="btn btn-secondary waves-effect">
                                Cancel
                            </button>
                            <button type="button" class="btn btn-primary waves-effect waves-light" onclick="Confirm('Submit')" id="myForm">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> 
</div> 
{% endblock %}
{% block extra_javascript %}

<script type="text/javascript">
    $('.o_stk,.add_units,.c_stk').keyup(function(){
        var tr = $(this).closest('tr');
        var opening_stock = tr.find('#opening_stock').val();
        var no_of_units = tr.find('#no_of_units').val();
        if(opening_stock == ''){
            opening_stock = 0
        }
        if(no_of_units == ''){
            no_of_units = 0
        }
        var closing_stock_total = parseInt(opening_stock) + parseInt(no_of_units)
        if(closing_stock_total == ''){
            closing_stock_total = 0
        }
        tr.find('.c_stk').val(closing_stock_total);
    });
</script>


<script>
    function Confirm(title){
        var values = false
        $( ".add_units" ).each(function() {
            if($(this).val() != ''){
                values = true
            }
        })
        if (values){
            var form_sumbit = document.getElementById('sumbit-form');
            Swal.fire({
            title: 'Are you sure you want to '+ title +' ?',
            showCancelButton: true,
            confirmButtonText: 'Yes',
            icon: 'success',
        }).then((result) => {
            if (result.isConfirmed){
                form_sumbit.submit();
            }
        });
    }else{     
        Swal.fire({
                icon: 'warning',
                title: 'Please provide a valid add quantity',
                showCancelButton: true,
                showConfirmButton:false,
            });
        }
    }
</script>
        <!-- Sweet Alerts js -->
        <script src="{% static 'libs/sweetalert2/dist/sweetalert2.min.js' %}"></script>

        <!-- Sweet alert init js-->
        <script src="{% static 'js/pages/sweet-alerts.init.js' %}"></script>

{% endblock %}