{% extends 'base.html' %}
{% load static %}
{% block contents %}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex mb-3">
                    <h4 class="card-title">Medicine stocks details:</h4>
                </div>

                <form method='POST' class="" enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                    <div class="table-rep-plugin">
                        <table id="datatable-buttons" class="table  table-bordered dt-responsive w-100 ">
                            {% if medicine|length > 0 %}
                            <thead>
                                <tr>
                                    <th>Drug Name</th>
                                    <th>Opening Stock</th>
                                    <th>Add quantity</th>
                                    <th>Unit price Rs.</th>
                                    <th>Date</th>
                                    <th>Closing Stock</th>                                   
                                </tr>
                            </thead>
                            <tbody>
                                {% for m in medicine %}
                                <tr>
                                    <td>{{m.name}}</td>
                                    <input type="hidden" id="custId" name="medicine" value="{{m.id}}" >
                                    <td>
                                        <input type="number" class="form-control o_stk" name='{{m.id}}_opening_stock' id="opening_stock">
                                    </td>
                                    <td>
                                        <input type="number" class="form-control add_units" name='{{m.id}}_no_of_units' id="no_of_units">
                                    </td>
                                    <td>
                                        <input type="number" class="form-control" name='{{m.id}}_unit_price' id="{{m.id}}_unit_price" >
                                    </td>
                                    <td>
                                        <input type="date" class="form-control previous_data" name='{{m.id}}_date_of_creation' max="{{current_data}}">
                                    </td>
                                    <td>
                                        <input type="number" class="form-control c_stk" name='{{m.id}}_closing_stock' readonly>
                                    </td>
                                </tr>
                                {% endfor %}
                                {% else %}

                                    <div class="text-center">data not available</div>
                                {% endif %}
                            </tbody>
                        </table>
                        <div class="d-flex mb-3 justify-content-end gap-2">
                            <button type="reset" onclick="location.href='/medicine/list/'" class="btn btn-secondary waves-effect">
                                Cancel
                            </button>
                            <button type="submit"  class="btn btn-primary float-end ml-2">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> 
</div> 
{% endblock %}
{% block extra_javascript %}

<script type="text/javascript">
    $('.o_stk,.add_units,.c_stk').keyup(function(){
        var tr = $(this).closest('tr');
        var opening_stock = tr.find('#opening_stock').val();
        var no_of_units = tr.find('#no_of_units').val();
        if(opening_stock == ''){
            opening_stock = 0
        }
        if(no_of_units == ''){
            no_of_units = 0
        }
        var closing_stock_total = parseInt(opening_stock) + parseInt(no_of_units)
        if(closing_stock_total == ''){
            closing_stock_total = 0
        }
        tr.find('.c_stk').val(closing_stock_total);
    });
</script>

{% endblock %}