{% extends 'base.html' %}
{% load static %}
{% block contents %}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex mb-3">
                    <h4 class="card-title">Medicine stocks detatials:</h4>
                </div>
                <div class="d-flex justify-content-end mb-3"> 
                    <button  onclick="location.href='/add/medicine/'" class="btn btn-primary waves-effect justify-content-start">
                        Add New
                    </button>
                </div>
                <div class="table-rep-plugin">
                    <table id="datatable-buttons" class="table  table-bordered dt-responsive w-100 ">
                        <thead>
                            <tr>
                                <th>Drug Name</th>
                                <th>Opening Stock</th>
                                <th>Add quantity</th>
                                <th>Unit price Rs.</th>
                                <th>Date</th>
                                <th>Closing Stock</th>                                   
                            </tr>
                        </thead>
                        <tbody>
                            {% for m in medicine_stock %}
                            <tr>
                                <th>{{m.medicine|default_if_none:''}}</th>
                                <th>{{m.opening_stock|default_if_none:''}}</th>
                                <th>{{m.no_of_units|default_if_none:''}}</th>
                                <th>{{m.unit_price|default_if_none:''}}</th>
                                <th>{{m.date_of_creation|default_if_none:''}}</th>
                                <th>{{m.medicine_stock|default_if_none:''}}</th>
                                
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div> 
</div> 
{% endblock %}