{% extends 'base.html' %}
{% load static %}
{% block contents %}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form action="" method="get" class="mb-3">
                    <div class="row justify-content-end">
                        <div class="col-lg-3 mt-3">
                            <input type="search" name="search" class='form-control' value='{{search}}' placeholder='Search...'>
                        </div>
                        <div class="col-auto mt-3 ">
                            <button type="submit" class="form-control btn btn-success waves-effect btn-xs float-right">Search</button>
                        </div>  
                        <div class="col-auto mt-3 ">
                            <button type="button" class="form-control btn btn-primary waves-effect btn-xs float-right" onclick="location.href='/add/medicine/'">Add New</button>
                        </div>
                    </div>
                </form>
                <div class="d-flex justify-content-end mb-3"> 
                </div>
                <div class="table-rep-plugin">
                    <table id="datatable-buttons" class="table  table-bordered dt-responsive w-100 ">
                        <thead>
                            <tr>
                                <th>Drug Name</th>
                                <th>Opening Stock</th>
                                <th>Add quantity</th>
                                <th>Unit price Rs.</th>
                                <th>Date</th>
                                <th>Closing Stock</th>                                   
                            </tr>
                        </thead>
                        <tbody>
                            {% for m in medicine_stock %}
                            <tr>
                                <th>{{m.medicine|default_if_none:''}}</th>
                                <th>{{m.opening_stock|default_if_none:''}}</th>
                                <th>{{m.no_of_units|default_if_none:''}}</th>
                                <th>{{m.unit_price|default_if_none:''}}</th>
                                <th>{{m.date_of_creation|default_if_none:''}}</th>
                                <th>{{m.closing_stock|default_if_none:''}}</th>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div> 
</div> 
{% endblock %}