{% extends 'base.html' %}
{% load static %}
{% block contents %}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex mb-3">
                    <h4 class="card-title">Medicine stocks detatials:</h4>
                </div>
                <div class="d-flex justify-content-end mb-3"> 
                    <button  onclick="location.href='/farmer-csv-export/'" class="btn btn-primary waves-effect justify-content-start">
                        Add
                    </button>
                </div>
                <div class="table-rep-plugin">
                    <div class="table-responsive mb-3" data-pattern="priority-columns">
                        <table id="tech-companies-1" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Drug Name</th>
                                    <th>Opening Stock</th>
                                    <th>Add quantity</th>
                                    <th>Unit price Rs.</th>
                                    <th>Date</th>
                                    <th>Closing Stock</th>                                   
                                </tr>
                            </thead>
                            <tbody>
                                {% for m in medicine %}
                                <tr>
                                    <th>{{m.name}}</th>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div> 
{% endblock %}