{% extends 'base.html' %}
{% load static %}
{% block contents %}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form action="" method="get" class="mb-3">
                    <div class="row justify-content-start">
                        <div class="col-lg-3 mt-3">
                            <input type="search" name="search" class='form-control' value='{{search}}' placeholder='Search...'>
                        </div>
                        <div class="col-auto mt-3 ">
                            <button type="submit" class="form-control btn btn-success waves-effect btn-xs float-right">Search</button>
                        </div>  
                    </div>
                </form>
                <div class="table-rep-plugin">
                    <table id="datatable-buttons" class="table  table-bordered dt-responsive w-100 ">
                        <thead>
                            <tr>
                                <th>Patient Name</th>
                                <th>Village</th>
                                <th>Symptoms</th>
                                <th>Medicine Name</th>
                                <th>Dosage</th>
                                <th>Visit Date</th>
                                <th>Created On</th>                                   
                            </tr>
                        </thead>
                        <tbody>
                            {% for pl in data %}

                            <tr>
                                <th>{{pl.get_user_uuid.name|default_if_none:''}}</th>
                                <td>{{pl.get_user_uuid.village|default_if_none:''}}</td>
                                <td>{{pl.get_treatment_uuid.symptoms|default_if_none:''}}</td>
                                <td>{{pl.medicines|default_if_none:''}}</td>
                                <td>{{pl.dosage|default_if_none:''}}</td>
                                <td>{{pl.get_treatment_uuid.visit_date|default_if_none:''}}</td>
                                <td>{{pl.server_created_on|date:"d-m-Y h:i a"}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <nav aria-label="..." class="d-flex justify-content-end">
                    <div>
                        {% if data.has_other_pages %}
                        <ul class="pagination">
                            {% if data.has_previous %}
                            <li class="paginate_button page-item"><a class="page-link" href="?page=1">First</a></li>
                            {% else %}
                            <li class="paginate_button page-item disabled"><span class="page-link">First</span></li>
                            {% endif %}
                            {% for i in display_page_range %}
                                {% if data.number == i %}
                                <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                                {% else %}
                                <li class="paginate_button paginate_button page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if data.has_next %}
                                <li class="paginate_button page-item"><a class="page-link" href="?page={{ data.paginator.num_pages }}">Last</a></li>
                            {% else %}
                                <li class="paginate_button page-item disabled"><span class="page-link">Last</span></li>
                            {% endif %}
                            </ul>
                        {% endif %}
                    </div>
                </nav>
            </div>
        </div>
    </div> 
</div> 

{% endblock %}
