{% extends 'base.html' %}
{% load static %}
{% block contents %}
{% block extra_css %}
<!-- Sweet Alert-->
<link href="{% static 'libs/sweetalert2/dist/sweetalert2.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form action="" method="get" class="mb-3">
                    <div class="row justify-content-start">
                        <div class="col-lg-3 mt-3">
                            <input type="text" name="medicine_search" class='form-control' value='{{medicine_search}}' placeholder='Search drug name...'>
                        </div>
                        <div class="col-lg-3 mt-3">
                            <input type="text" name="village_search" class='form-control' value='{{village_search}}' placeholder='Search village...'>
                        </div>
                        <div class="col-auto mt-3 ">
                            <button type="submit" class="form-control btn btn-success waves-effect btn-xs float-right">Search</button>
                        </div>  
                    </div>
                </form>

                <form method='POST' id="sumbit-form" enctype="multipart/form-data" >
                    {% csrf_token %}
                    
                    <div class="table-rep-plugin">
                        <div class="table-responsive mb-3" data-pattern="priority-columns">
                            <table id="tech-companies-1" class="table table-bordered dt-responsive mb-0">
                                <thead>
                                    <tr>
                                        <th>Village of Drugs Dispensation</th>
                                        <th>Opening Stock</th>
                                        {% for v in village %}
                                            <th>{{v.name}}</th>
                                        {% endfor %}                             
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for m in medicine %}
                                    
                                    <tr  {% if m.get_no_of_units <= 0  %}style="background-color: #FAAB78!important;"{% endif%}>
                                        <td>{{m.name}}</td>
                                        <td>
                                            <input type="text" class="form-control" name='name' value="{{m.get_no_of_units}}" id="opening_stock" readonly>
                                        </td>
                                        <input type="hidden" id="custId" name="medicine" value="{{m.id}}" >
                                        {% for v in village %}
                                        <td>
                                            <input type="number" class="form-control units_dispensed" 
                                            name='{{m.id}}_units_dispensed_{{v.id}}' min="1" max="{{m.get_no_of_units}}" oninput="validity.valid||(value='');"
                                             id="units_dispensed" {% if m.get_no_of_units <= 0  %}readonly{% endif%}>
                                        </td>
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <label for="" class="col-md-2 col-form-label" >Date of dispensation<span class="required-field"></span></label>
                            <div class="col-md-4">
                                <input type="date" class="form-control date_of_dispensation" name='date_of_dispensation' max="{{current_data}}" required>
                            </div>
                        </div>
                        <div class="d-flex mb-3 justify-content-end gap-2">
                            <button type="reset" onclick="location.href='/village-wise-drugs/list/'" class="btn btn-secondary waves-effect">
                                Cancel
                            </button>
                            <!-- <button type="submit"  class="btn btn-primary float-end ml-2">Submit</button> -->
                            
                            <button type="button" class="btn btn-primary waves-effect waves-light validation" {% if unit_price == '' %}onclick="Confirm('Submit')"{% else %}onclick="Confirm('Submit')" {% endif %} id="myForm">Submit</button>
                           
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> 
</div> 
{% endblock %}
{% block extra_javascript %}

<script>

    function Confirm(title){
        var units_dispensed = false
        $( ".units_dispensed" ).each(function() {
            if($(this).val() != ''){
                units_dispensed = true
            }
        })        
        var date_of_dispensation = false
        if($('.date_of_dispensation').val() != ''){
            date_of_dispensation = true
        }
        if (units_dispensed && date_of_dispensation){
            var form_sumbit = document.getElementById('sumbit-form');
            Swal.fire({
            title: 'Are you sure you want to '+ title +' ?',
            showCancelButton: true,
            confirmButtonText: 'Yes',
            icon: 'success',
        }).then((result) => {
            if (result.isConfirmed){
                form_sumbit.submit();
            }
        });
        }else{     
            Swal.fire({
                icon: 'warning',
                title: 'Please provide a valid date of dispensation and units dispensed',
                showCancelButton: true,
                showConfirmButton:false,
            });
        }
    }
</script>
        <!-- Sweet Alerts js -->
        <script src="{% static 'libs/sweetalert2/dist/sweetalert2.min.js' %}"></script>

        <!-- Sweet alert init js-->
        <script src="{% static 'js/pages/sweet-alerts.init.js' %}"></script>

{% endblock %}
<!-- preConfirm: () => {
    if (document.getElementById('swal-input2').value) {
       // Handle return value 
    } else {
      Swal.showValidationMessage('First input missing')   
    }
  } -->