{% extends 'base.html' %}
{% load static %}
{% block contents %}
{% include 'partials/filter_report.html' %}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form action=""  method="POST" >
                    {% csrf_token %}
                    <div class="d-flex justify-content-end mb-3"> 
                        {% for key, values in filter_values.items %}
                            <input type="hidden" id="__hd1__{{key}}" name='{{key}}' value="{{values}}"/>
                        {% endfor %}
                        <button type="submit" name='export'  class="btn btn-primary waves-effect justify-content-start" value="True">
                             Export
                         </button>  
                    </div>
                </form>
                <div class="table-responsive mb-3" data-pattern="priority-columns">
                    <table id="tech-companies-1" class="table table-bordered dt-responsive mb-0">
                        <thead>
                            <tr>
                                <th>PHC Name</th>
                                <th>Sub Centre</th>
                                <th>Village</th>                                   
                                <th>Patient Name</th>
                                <th>Patient Code</th>
                                <th>Registered Date</th>
                                <th>Age(today)</th>
                                <th>Gender</th>
                                <th>Status</th>
                                <th>Health</th>
                                <th>Family history of Hypertension or diabetes</th>
                                <th>Drinking</th>
                                <th>Smoking</th>
                                <th>Tobacco</th>
                                <!-- <th>DM Source Treatment</th>
                                <th>PDM Source Treatment</th> -->
                                <th>DM Detected by</th>
                                <th>PDM Detected by</th>
                                <th>DM Year</th>
                                <th>PDM Year</th>
                                <!-- <th>PHT Source Treatment</th> -->
                                <th>HT Detected by</th>
                                <th>PHT Detected by</th>
                                <th>HT Year</th>
                                <th>PHT Year</th>
                                <th>Treatment</th>
                                <th>Last visit date</th>
                                <th>Source of Treatment</th>
                                <th>Height</th>
                                <th>Weight</th>
                                <th>SBP</th>
                                <th>DBP</th>
                                <th>BMI</th>
                                <th>Blood Sugar Fasting</th>
                                <th>Blood Sugar PP</th>
                                <th>Blood Sugar Random</th>
                                <th>Controlled</th>
                                <th>Signs & symptoms</th>
                                <th>Remarks</th>
                                <th>Prescription</th>
                                <th>Medicines</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for prr in data %}
                            <tr>
                                <td>{{prr.phc_name|default_if_none:'-'}}</td>
                                <td>{{prr.sbc_name|default_if_none:'-'}}</td>
                                <td>{{prr.village_name|default_if_none:'-'}}</td>
                                <td>{{prr.patient_name|default_if_none:'-'}}</td>
                                <td><a href="/patient-detail/{{prr.id}}/">{{prr.patient_id}}</a></td>
                                <td>{{prr.r_date|date:"d/m/Y"|default_if_none:'-'}}</td>
                                <td>{{prr.age|default_if_none:'-'}}</td>
                                <td>{{prr.gender|default_if_none:'-'}}</td>
                                <td>{{prr.status|default_if_none:'-'}}</td>
                                <td>{{prr.h_status|default_if_none:'-'}}</td>
                                <td>{{prr.diabetes|default_if_none:'-'}}</td>
                                <td>{{prr.drinking|default_if_none:'-'}}</td>
                                <td>{{prr.smoking|default_if_none:'-'}}</td>
                                <td>{{prr.tobacco|default_if_none:'-'}}</td>
                                <!-- <td>{{prr.dm_st|default_if_none:'-'}}</td>
                                <td>{{prr.pdm_st|default_if_none:'-'}}</td> -->
                                <td>{{prr.dm_db|default_if_none:'-'}}</td>
                                <td>{{prr.pdm_db|default_if_none:'-'}}</td>
                                <td>{{prr.dm_my|default_if_none:'-'}}</td>
                                <td>{{prr.pdm_my|default_if_none:'-'}}</td>
                                <!-- <td>{{prr.ht_st|default_if_none:'-'}}</td>
                                <td>{{prr.pht_st|default_if_none:'-'}}</td> -->
                                <td>{{prr.ht_db|default_if_none:'-'}}</td>
                                <td>{{prr.pht_db|default_if_none:'-'}}</td>
                                <td>{{prr.ht_my|default_if_none:'-'}}</td>
                                <td>{{prr.pht_my|default_if_none:'-'}}</td>
                                <td>{{prr.trmt_status|default_if_none:'-'}}</td>
                                <td>{{prr.v_date|date:"d/m/Y"|default_if_none:'-'}}</td>
                                <td>{{prr.source_treatment|default_if_none:'-'}}</td>

                                <td>{{prr.height|default_if_none:'-'}}</td>
                                <td>{{prr.weight|default_if_none:'-'}}</td>
                                <td>{{prr.sbp|default_if_none:'-'}}</td>
                                <td>{{prr.dbp|default_if_none:'-'}}</td>
                                <td>{{prr.bmi|default_if_none:'-'}}</td>
                                <td>{{prr.fbs|default_if_none:'-'}}</td>
                                <td>{{prr.pp|default_if_none:'-'}}</td>
                                <td>{{prr.random|default_if_none:'-'}}</td>
                                <td>{{prr.controlled|default_if_none:'-'}}</td>
                                <td>{{prr.symptoms|default_if_none:'-'}}</td>
                                <td>{{prr.remarks|default_if_none:'-'}}</td>
                                <td>{{prr.m_status|default_if_none:'-'}}</td>
                                <td>{{prr.md_name|default_if_none:'-'}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% include 'partials/pagination.html' %}
            </div>
        </div>
    </div> 
</div> 
{% endblock %}
{% block extra_javascript %}
<script src="{% static 'js/pages/form-validation.init.js' %}"></script>
<script type="text/javascript">

    function onselected_start_month(){
        var start_month = document.getElementById("start_filter");
        var end_month = document.getElementById("end_filter");
        if (start_month != '' && end_month != ''){
            document.querySelector('#start_filter').required = true;
            document.querySelector('#end_filter').required = true;
        }
        else{
            document.querySelector('#start_filter').required = false;
            document.querySelector('#end_filter').required = false;
            
        }  
    }
     $("#start_filter").on("change", function(event){
           document.getElementById("end_filter").min=$("#start_filter").val()
    });
    $("#filter_reset").click(function() {
        $('#phc').prop('selectedIndex', 0).change();
        $('#sub_center').prop('selectedIndex', 0).change();
        $('#village').prop('selectedIndex', 0).change();
        $('#health_worker').prop('selectedIndex', 0).change();
        $('#start_filter').val('');
        $('#end_filter').val('');
        $('#patient_name').val('');
        this.form.submit();
    });
    document.addEventListener('DOMContentLoaded', function() { 
        $('#phc').change(function () {
            var optionSelected = $(this).find("option:selected");
            var valueSelected  = optionSelected.val();
            $.ajax({
                type:"GET",
                url: '/ajax/subcenter/'+valueSelected+'/',
                success:function(result){
                    $("#sub_center option").remove();
                    a = '<option selected value="">Choose sub center Name</option>';
                    $("#sub_center").append(a);
                    if(JSON.parse(result) == 0){
                        $("#sub_center option").remove();
                        a = '<option selected value="">No sub center is mapped to this phc</option>';
                        console.log(a)
                        $("#sub_center").append(a);
                    }
                    else{
                        $.each(JSON.parse(result),function(key, value)
                        {
                            a = '<option value=' + value['id']+'>' + value['name']+'</option>';
                            $("#sub_center").append(a);
                        });
                    }
                }
            });
        });
        $('#sub_center').change(function () {
            var optionSelected = $(this).find("option:selected");
            var valueSelected  = optionSelected.val();
            $.ajax({
                type:"GET",
                url: '/ajax/village/'+valueSelected+'/',
                success:function(result){
                    $("#village option").remove();
                    a = '<option selected value="">Choose Village Name</option>';
                    $("#village").append(a);
                    if(JSON.parse(result) == 0){
                        $("#village option").remove();
                        a = '<option selected value="">No Village is mapped to this sub center</option>';
                        console.log(a)
                        $("#village").append(a);
                    }
                    else{
                        $.each(JSON.parse(result),function(key, value)
                        {
                            a = '<option value=' + value['id']+'>' + value['name']+'</option>';
                            $("#village").append(a);
                        });
                    }
                }
            });
        });
    })
</script> 
{% endblock %}

