{% extends 'base.html' %}
{% load static %}


{% block extra_css %}
<!-- Responsive Table css -->
{% endblock %}
{% block contents %}
<style>
    .table>thead { vertical-align: top}
    .card-title{ margin-right: 5px }
    th, td{border: 1px solid!important}
</style>
<!--Section 3-->
<!--Details of adolescent girls linked with vocational training & placement -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <h4 class="card-title">Section 1:</h4>
                    <p class="card-title-desc">Details of transaction of sessions on health & nutrition</p>
                </div>
                <div class="table-rep-plugin">
                    <div class="table-responsive mb-3" data-pattern="priority-columns">
                        <table id="tech-companies-1" class="table table-striped">
                            <thead>
                                <tr>
                             
                                    <th>id</th>
                                    <th>Name of Adolescent</th>
                                    <th>Session name</th>
                                    <th>Date of session</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                
                                <tr>
                                  
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>@mdo</td>
                                      </tr>
                                      <tr>
                                        <th scope="row">2</th>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>@fat</td>
                                      </tr>
                                      <tr>
                                        <th scope="row">3</th>
                                        <td>Larry</td>
                                        <td>the Bird</td>
                                        <td>@twitter</td>
                                      </tr>
        
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->

{% endblock %}
{% block extra_javascript %}
         
        
{% endblock %}